:root {
    /* ----- COLORS ----- */
    --gray: #DBDBDB;
    --green: #B5D335;
    --white: #ffffff;
    --background: #000000;
  
    /* ----- MOBILE TYPESCALES -----  */
    --h1_mobile: 4.1rem;
    --h2_mobile: 3.937rem;
    --p_mobile: 1.062rem;
  
    /* ----- TABLET TYPESCALES -----  */
    --h1_tablet: 5.312rem;
    --h2_tablet: 5rem;
    --p_tablet: 1.375rem;
  
  /* ----- DESKTOP TYPESCALES -----  */
    --h1_desktop: 5.625rem;
    --h2_desktop: 5.312rem;
    --p_desktop: 1.875rem;
}

body {
    font-family: "Istok Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 
          "wdth" 100;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
}

h1{
    font-size: var(--h1_mobile);
    line-height: 1;
}

p{
    font-size: var(--p_mobile);
    font-weight: 400;
    line-height: 1.3;
}

/* ----- SKIP-LINK ----- */

.skip-link {
    position: absolute;
    top: -40px;
    left: -40px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
    left: 0;
}


/* ----- HOME ----- */

.background-container {
    position: fixed;
    inset: 0;
    height: 100vh;
    z-index: -1;
}

/* ----- NAVBAR TEXT HOVER/FOCUS ----- */

.navbar-nav .nav-item a{
    position: relative;
    font-weight: bold;
    background-image: linear-gradient(to right, #B5D335 50%, #fff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover,
.navbar-nav .nav-item a:focus{
    background-position: 0;
}

.navbar-nav .nav-item a:before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: #B5D335;
    transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover:before,
.navbar-nav .nav-item a:focus:before {
    width: 100%;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B5D335' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

hr {
    border: 2px solid var(--green);
    opacity: .7;
}


  /* ----- ABOUT PAGE ----- */

.icons-memu {
    filter: brightness(0) saturate(100%) invert(74%) sepia(98%) saturate(1%) hue-rotate(316deg) brightness(97%) contrast(97%);
}

.icons-memu img{
    transition: transform 1s ease, filter 1s ease;
}

.icons-memu:hover, .icons-memu:focus  {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%) saturate(7375%) hue-rotate(9deg) brightness(85%) contrast(86%);

}

.icon-size {
    width: 4.375rem;
}

.img-size {
    max-width: 500px;
}

.background-container-about {
    position: absolute;
    pointer-events: none; 
}

.background-container-about img {
    width: 100%;
}

.content-about{
    margin-top: 6rem;
}

.container-about-p{
    margin-top: 10.5rem;
}

.content-mision-vision{
    margin: 3.5rem 0;
}

.content-beat, .content-philo, .content-values{
    margin: 2rem 0;
}

/* ----- CONTACT PAGE ----- */

.bot-social-icon {
    position: relative; 
}

.bot-text {
    transform: translateX(70%); 
}

.icon-s img{
    transition: transform 0.3s ease, filter .05s ease;
}

.icons img {
    filter: brightness(0) saturate(100%) invert(74%) sepia(98%) saturate(1%) hue-rotate(316deg) brightness(97%) contrast(97%);
}

.icons:hover img,
.icons:focus img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(19%) saturate(7375%) hue-rotate(9deg) brightness(85%) contrast(86%);
    transform: scale(1.2) rotate(10deg);
}

.social-icons .icons {
    position: absolute;
} 

.icon-med-size{
    width: 3.75rem;
}

.instagram-icon {
    top: 75%;
    left: 20%;
}

.facebook-icon {
    top: 95%;
    left: 35%;
}

.github-icon {
    top: 90%;
    left: 65%;
}

.twitter-icon  {
    top: 60%;
    right: 15%;
}


/* ----- ABOUT PAGE ANIMATION FADE ----- */

@media (prefers-reduced-motion: no-preference){
    .fade-effect{
      opacity: 0;
      scale: 0.8;
      animation: fade-in linear forwards;
      animation-timeline: view();
      animation-range: 50px 36%;
    }
  
    @keyframes fade-in {
      to {
        opacity: 1;
        scale: 1;
      }
    }
  }

  @keyframes move {
    to {
        transform: translateX(calc(-100% + 100vw));
    }
}

#sectionPin {
    height: 500vh;
    overflow: visible;

    view-timeline-name: --section-pin-tl;
    view-timeline-axis: block;
}

/* ----- FOCUS IMG ICON BIG ----- */

.img-focus-in{
    animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both
}
    
@keyframes text-focus-in{
    0%{
        filter:blur(12px);opacity:0
    }
    100%{
        filter:blur(0);opacity:1
    }
}

/* ----- HEARTBEAT ANIMATION - BEAT SECTION ----- */

.heartbeat{
    animation:heartbeat 1.5s ease-in-out infinite both
}

@keyframes heartbeat {
    from{
        transform:scale(1);transform-origin:center center;animation-timing-function:ease-out
    }
    10%{
        transform:scale(.91);animation-timing-function:ease-in
    }
    17%{
        transform:scale(.98);animation-timing-function:ease-out
    }
    33%{
        transform:scale(.87);animation-timing-function:ease-in
    }
    45%{
        transform:scale(1);animation-timing-function:ease-out
    }
} 




/* ----- MENU ICONS EFFECT ----- */

.glow-effect {
    transition: box-shadow 0.5s, transform 0.5s;
    outline: none; 
}

.glow-effect:hover img,
.glow-effect:focus img {
    transform: scale(1.1);
    box-shadow: 0 0 15px #B5D335, 0 0 30px #B5D335, 0 0 45px #B5D335;
    border-radius: 50%;
}

/* ----- ANCHORS BUTTON ----- */

a, button {
    color: var(--white);
    text-decoration: none;
}

a:hover, a:focus, button:hover, button:focus {
    background-color: transparent;
    border-color: var(--green);
}





/* ----- FOOTER ----- */

footer{
    background-image: url(/images/footer_back.svg);
    background-size: cover;
    margin-top: 13rem;
}

.footer-header a {
    color: var(--green);
    transition: color 0.3s ease;
}

.footer-header a:hover,
.footer-header a:focus {
    color: #DBDBDB; 
}

.footer-link {
    transition: color 0.4s ease;
}

.footer-link:hover,
.footer-link:focus {
    color: #a8a8a8; 
}

.footer-icon img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.footer-icon:hover img,
.footer-icon:focus img {
    transform: scale(1.1);
    filter: brightness(0) saturate(100%) invert(74%) sepia(98%) saturate(1%) hue-rotate(316deg) brightness(97%) contrast(97%);
}

.icon-social-f-size{
    width: 2.8125rem;
}



@media screen and (min-width: 992px){

    /* ----- NAVBAR DESKTOP ----- */

    .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }
      
    .menu-item, .menu-item-a {
        display: flex;
        align-items:center;
        justify-content: center;
        width: 100%;
        text-align: center;
    }
      
    .navbar-nav .nav-item a {
        white-space: normal;
    }

    .nav-item a{
        width: 7.812rem;
    }

      /* .icon{
        width: 70px;
    } */

}



@media screen and (max-width: 992px) {

    /* ----- MENU GRADIENT MOVILE/TABLET ----- */

    .offcanvas.bg-opa {
      background: linear-gradient(to right, rgba(0, 0, 0, 0.95), rgba(30, 30, 30, .80)) !important;
    }

    .bg-op{
        background: linear-gradient(to right, rgba(30, 30, 30, .90), rgba(30, 30, 30, .80)) !important;
    }

    /* .navbar-nav .nav-item a {
        white-space: normal;
    } */


}